
            <form name="translateFrom" layout="row" flex="75" layout-align="center center">
                <br>
                <table  >
                    <tr>
                        <th>text</th>
                        <th>   </th>
                        <th> translate</th>
                        <th> translated language</th>
                        <th> detected language</th>
                    </tr>
                    <tr ng-repeat="trans in transarray">
                        <td>{{trans.Query}}<td>
                        <td><md-button ng-click="translate(trans)"><md-icon class="material-icons">arrow_forward</md-icon></md-button></td>
                        <td ng-if="$index == index">{{response[0].translatedText}} </td> 

                        <td ng-if="$index == index">{{response[0].detectedSourceLanguage}} </td> 
                            {{count}}a
                    </tr> 
                     
                </table>
                
            </form>