
<div layout-padding>
    <div style="margin: 10px 200px 20px 200px; background-color: #fff">
        <h4 style="color:#444; text-align: center" >SEARCH IN ANY LANGUAGE AND WE WILL GET THE RESULTS FOR YOU! </h4>
        <div layout-gt-xs="row" >
            <span flex="10"></span>
            <md-input-container flex="45">
                <label>Type a word to search</label>
                <input ng-model="word" >
            </md-input-container>

                <div layout="column"><md-button class="md-raised md-warn" ng-click="translatesearch('en',word)">Translate And Search</md-button></div>
                <div layout="column"><md-button class="md-primary md-raised" ng-click="searchOnly(word)">search</md-button></div>

        </div>
    <div style="background-image: url('bg.jpg'); height: 250px; background-size: 100% 100% "></div>
    </div>
</div>
<div style="margin: 0px 200px 0px 200px; background-color: #fff">
    <div layout="column" ng-if="result" >
      <div layout-align="center center" layout="column">
       <md-progress-circular class="md-accent" md-diameter="40" ng-show="isLoading"></md-progress-circular>
      </div>
      <div layout="row">
          <span flex="5"></span>
          <div layout="column" flex="90">
            <h3 ng-if="countresults" style="font-weight: bold;border-bottom: 2px double lightgray;padding: 5px;"> Search Results ({{countresults}})</h3>
              <span layout="row">
                  <h5 flex="50" ng-if="!translang">Your Selected Language :: {{translangValue}}</h5>
                  <h5 flex="50" ng-if="translang">Your Selected Language :: {{translangValue}}</h5>
                  <h5 flex="15">Language of Search::</h5>
                  <md-select flex="20" ng-model="translang" placeholder="Please select a Langugae" ng-change="search(translang)" >
                      <!-- <md-option ng-value="translationLanguage">{{translationLanguage}} -- Detected Language</md-option> -->
                      <md-option ng-repeat="lang in languages" ng-value="lang.language" > {{lang.name}} </md-option>
                  </md-select>
              </span>
          </div>
          <span flex="5"></span>
      </div>
      <div layout="row" ng-repeat="r in resultTranslate|limitTo:10"  >
          <span flex="5"></span>
          <md-card layout="column" flex="90">
          <md-card-header>
            <md-card-header-text>
              <span class="md-title" style="color:#005F9F ">{{r.title}}</span>
            </md-card-header-text>
          </md-card-header>
            <md-card-content>
              <span >{{r.description}}</span>     
          </md-card-content>
          
          <md-card-actions layout="row">
            <md-button ng-click="translateTitle(r,$index,translang)" class="md-raised md-primary" ng-if="!click">{{show}}</md-button>
            <md-button ng-click="translateTitle(r,$index,translang)" class="md-raised md-primary" ng-if="click">{{r.show}}</md-button>
          </md-card-actions>
        </md-card>
        <span flex="5"></span>
      </div>
    </div>
</div>
